In [1]:
import pandas as pd
import numpy as np

In [27]:
def reemplazar_km(km):
    return km.replace('km', '').replace(' ', '')

In [25]:
df = pd.read_csv('C:/Users/aacas/Documents/Intro a Cs de Datos/Proyecto/df_honda_wrv.csv', decimal=',')
df = df.dropna(axis=0)
df

    Marca Modelo     Año Kilometraje Transmision      Precio
1   honda   wr-v  2022.0   71,000 km      Manual  14880000.0
2   honda   wr-v  2018.0   76,022 km      Manual  10990000.0
3   honda   wr-v  2018.0   69,000 km      Manual  10990000.0
4   honda   wr-v  2018.0   49,500 km      Manual  11990000.0
5   honda   wr-v  2017.0   80,000 km  Automática  11980000.0
..    ...    ...     ...         ...         ...         ...
77  honda   wr-v  2021.0   19,000 km  Automática  15000000.0
78  honda   wr-v  2021.0   12,300 km      Manual  15000000.0
79  honda   wr-v  2018.0   67,000 km  Automática  12350000.0
80  honda   wr-v  2022.0    6,800 km  Automática  17300000.0
81  honda   wr-v  2022.0    5,500 km  Automática  15990000.0

[77 rows x 6 columns]

In [28]:
df['Kilometraje'] = df['Kilometraje'].apply(reemplazar_km)
df

    Marca Modelo     Año Kilometraje Transmision      Precio
1   honda   wr-v  2022.0      71,000      Manual  14880000.0
2   honda   wr-v  2018.0      76,022      Manual  10990000.0
3   honda   wr-v  2018.0      69,000      Manual  10990000.0
4   honda   wr-v  2018.0      49,500      Manual  11990000.0
5   honda   wr-v  2017.0      80,000  Automática  11980000.0
..    ...    ...     ...         ...         ...         ...
77  honda   wr-v  2021.0      19,000  Automática  15000000.0
78  honda   wr-v  2021.0      12,300      Manual  15000000.0
79  honda   wr-v  2018.0      67,000  Automática  12350000.0
80  honda   wr-v  2022.0       6,800  Automática  17300000.0
81  honda   wr-v  2022.0       5,500  Automática  15990000.0

[77 rows x 6 columns]