In [2]:
import pandas as pd
import os

In [43]:

df1 = pd.read_csv(os.path.join('datos','df_baleno.csv'))
df2 = pd.read_csv(os.path.join('datos','df_honda_crv.csv'))
df3 = pd.read_csv(os.path.join('datos','df_honda_wrv.csv'))
df4 = pd.read_csv(os.path.join('datos','df_kia_rio5.csv'))
df5 = pd.read_csv(os.path.join('datos','df_mazda2.csv'))
df6 = pd.read_csv(os.path.join('datos','df_mazda3.csv'))
df7 = pd.read_csv(os.path.join('datos','df_mg3.csv'))
df8 = pd.read_csv(os.path.join('datos','df_tiggo2.csv'))
lista = [df1, df2, df3, df4, df5, df6, df7, df8]
for i in lista:
    i.drop_duplicates(inplace=True)
    i.dropna(subset=['Marca'],inplace=True)
    i.dropna(subset=['Modelo'],inplace=True)
    i.dropna(subset=['A침o'],inplace=True)
    i.dropna(subset=['Kilometraje'],inplace=True)
    i.dropna(subset=['Transmision'],inplace=True)
    i.dropna(subset=['Precio'],inplace=True)
    i.reset_index(inplace=True)
    i.drop(columns=['index'], inplace=True)
    i['Transmision'] = i['Transmision'].str.replace('Manual','1')
    i['Transmision'] = i['Transmision'].str.replace('Autom치tica','2')
    i['Kilometraje'] = i['Kilometraje'].str.replace('km','')
    i['Kilometraje'] = i['Kilometraje'].str.replace(',','')
    i['Kilometraje'] = i['Kilometraje'].astype('int')
    i['Transmision'] = i['Transmision'].str.replace(' ','')
    i['Transmision'] = i['Transmision'].astype('int')
    i['Precio'] = i['Precio'].astype('int')
    i['A침o'] = i['A침o'].astype('int')
df1['Modelo'] = df1['Modelo'].str.replace('2','baleno')
df4['Modelo'] = df4['Modelo'].astype('str')
df4['Modelo'] = df4['Modelo'].str.replace('2','rio5')
df8['Modelo'] = df8['Modelo'].astype('str')
df8['Modelo'] = df8['Modelo'].str.replace('2','tiggo-2')
dfAutos = pd.concat(lista)
dfAutos.reset_index(inplace=True)
dfAutos.drop(columns=['index'], inplace=True)
dfAutos.to_csv('df_limpio',index=False)

Transmision:
Manual = 1
Automatica = 2