In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv('datos/df_baleno.csv')
df3 = pd.read_csv('datos/df_honda_wrv.csv')
df4 = pd.read_csv('datos/df_kia_rio5.csv')
df5 = pd.read_csv('datos/df_mazda2.csv')
df6 = pd.read_csv('datos/df_mazda3.csv')
df7 = pd.read_csv('datos/df_mg3.csv')
df8 = pd.read_csv('datos/df_tiggo2.csv')
lista = [df1, df3, df4, df5, df6, df7, df8]
for i in lista:
    i.drop_duplicates(inplace=True)
    i.dropna(subset=['Marca'],inplace=True)
    i.dropna(subset=['Modelo'],inplace=True)
    i.dropna(subset=['Año'],inplace=True)
    i.dropna(subset=['Kilometraje'],inplace=True)
    i.dropna(subset=['Transmision'],inplace=True)
    i.dropna(subset=['Precio'],inplace=True)
    i.reset_index(inplace=True)
    i.drop(columns=['index'], inplace=True)
    i['Transmision'] = i['Transmision'].str.replace('Manual','1')
    i['Transmision'] = i['Transmision'].str.replace('Automática','2')
    i['Kilometraje'] = i['Kilometraje'].str.replace('km','')
    i['Kilometraje'] = i['Kilometraje'].str.replace(',','')
    i['Kilometraje'] = i['Kilometraje'].astype('int')
    i['Transmision'] = i['Transmision'].str.replace(' ','')
    i['Transmision'] = i['Transmision'].astype('int')
    i['Región'] = i['Región'].replace('Arica', 1)
    i['Región'] = i['Región'].replace('Coquimbo', 5)
    i['Región'] = i['Región'].replace('Maule', 9)
    i['Región'] = i['Región'].replace('Ñuble', 10)
    i['Región'] = i['Región'].replace('Metropolitana de Santiago', 7)
    i['Región'] = i['Región'].replace('Araucanía', 12)
    i['Región'] = i['Región'].replace('Valparaíso', 6)
    i['Región'] = i['Región'].replace('Bío Bío', 11)
    i['Región'] = i['Región'].replace('Los Ríos', 13)
    i['Región'] = i['Región'].replace('Los Lagos', 14)
    i['Región'] = i['Región'].replace('OHiggins', 8)
    i['Región'] = i['Región'].replace('Atacama', 4)
    i['Región'] = i['Región'].replace('Antofagasta', 3)
    i['Región'] = i['Región'].replace('Tarapacá', 2)
    i['Región'] = i['Región'].replace('Aysén', 15)
    i['Región'] = i['Región'].replace('Magallanes', 16)
    i['Tipo de Vendedor'] = i['Tipo de Vendedor'].replace('Particular', 0)
    i['Tipo de Vendedor'] = i['Tipo de Vendedor'].replace('Automotora Usado', 1)
    i['Tipo de Vendedor'] = i['Tipo de Vendedor'].replace('Automotora Nuevo', 2)
    i['Precio'] = i['Precio'].astype('int')
    i['Año'] = i['Año'].astype('int')
df1['Modelo'] = df1['Modelo'].str.replace('2','baleno')
df4['Modelo'] = df4['Modelo'].astype('str')
df4['Modelo'] = df4['Modelo'].str.replace('2','rio5')
df8['Modelo'] = df8['Modelo'].astype('str')
df8['Modelo'] = df8['Modelo'].str.replace('2','tiggo-2')
dfAutos = pd.concat(lista)
dfAutos.reset_index(inplace=True)
dfAutos.drop(columns=['index'], inplace=True)
dfAutos.to_csv('df_final.csv', encoding='utf-8', index=False)
dfAutos.head()

,Marca,Modelo,Año,Kilometraje,Transmision,Tipo de Vendedor,Región,Precio
0,suzuki,baleno,2021,27000,1,0,7,11100000
1,suzuki,baleno,2020,41113,1,1,12,9490000
2,suzuki,baleno,2022,29588,1,1,12,10990000
3,suzuki,baleno,2021,51622,1,1,7,10290000
4,suzuki,baleno,2020,90000,1,1,7,8990000

Transmision:
Manual = 1
Automatica = 2